// colors
$bg-color: #104072;
$bg-color-gradient: linear-gradient(darken(#154a8a, 10%), #154a8a);
$logo-color: #ffffff;

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$roboto-mono-font: 'Roboto Mono', monospace;
// mixin
@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin pseudo($position: absolute,
$content: "") {
    content: $content;
    position: $position;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include center;
    background: $bg-color-gradient;
    padding-top: 15vmin;
    margin-left: -3%;
    overflow: hidden;
}

.logo {
    @include center;
    top: -20vh;
    left: 10vmin;
    .box-1 {
        @include center;
        width: 30vmin;
        height: 20vmin;
        border-radius: 5vmin;
        border-bottom-left-radius: 0px;
        background: $logo-color;
        &:before {
            @include pseudo;
            width: 20vmin;
            height: 10vmin;
            background: $bg-color;
            top: 5vmin;
            left: 5vmin;
        }
    }
    .box-2 {
        @include center;
        width: 5vmin;
        height: 5vmin;
        right: 15vmin;
        top: 5vmin;
        background: $logo-color;
        &:after {
            @include pseudo;
            width: 5vmin;
            height: 5vmin;
            top: 5vmin;
            background: $bg-color;
        }
    }
    .box-3 {
        @include center;
        width: 30vmin;
        height: 13vmin;
        top: 33vmin;
        border-bottom-left-radius: 5vmin;
        background: $logo-color;
        &:after {
            @include pseudo;
            width: 30vmin;
            height: 8vmin;
            background: $bg-color;
            left: 5vmin;
        }
    }
}

.title {
    margin-top: 55vh;
    margin-left: 10vmin;
    font-size: 7.5vmin;
    text-align: center;
    font-family: $roboto-mono-font;
    color: $logo-color;
}
